/*
    Define your own styles here. These styles are used for
    the "Window Properties" window.
*/


/*** Example - dark theme ***/
/*
AbstractPropertyPage {
    qproperty-evenRowColour: rgb(22, 70, 105);
    qproperty-oddRowColour:  rgb(26, 46, 77);
}

* {
    font-family:  "Tahoma";
    font-size:    9pt;
}

#propertyName {
    font-weight: bold;
    color: rgb(250, 250, 250);
}

#propertyValue, #propertyValue > * {
    color: rgb(221, 221, 223);
}

QPlainTextEdit, QListWidget {
    background-color: rgb(36, 56, 87);
}
*/